In [1]:
import requests
from datetime import datetime
from pathlib import Path
import pandas as pd

BASE_FILE_DIR = Path('/tmp')
file_path_crib = '{category}/{year}-{month: 02d}/{category}-{day: 02d}-{month:02d}-{year}.csv'

In [2]:
categories=[
    {
        
    
    'name': 'museo',
    'url': 'https://datos.cultura.gob.ar/dataset/37305de4-3cce-4d4b-9d9a-fec3ca61d09f/resource/4207def0-2ff7-41d5-9095-d42ae8207a5d/download/museos_datosabiertos.csv'
    
    }, 
    
    {
    'name': 'cines',
    'url': 'https://datos.cultura.gob.ar/dataset/37305de4-3cce-4d4b-9d9a-fec3ca61d09f/resource/f7a8edb8-9208-41b0-8f19-d72811dcea97/download/salas_cine.csv '
    },
    
    {
    'name': 'bibliotecas_populares',
    'url': 'https://datos.cultura.gob.ar/dataset/37305de4-3cce-4d4b-9d9a-fec3ca61d09f/resource/01c6c048-dbeb-44e0-8efa-6944f73715d7/download/11_bibliotecapopular-datos-abiertos.csv ' 
    }
    
]

## Museos

### Extract

In [3]:
category_dict = categories[0]
r = requests.get(category_dict['url'])
r.encoding='utf-8'

In [4]:
now = datetime.now()

file_path = file_path_crib.format(category=category_dict['name'], year=now. year, month=now.month, day=now.day)

m_path = BASE_FILE_DIR/file_path
m_path.parent.mkdir (parents=True, exist_ok=True)

## Save file
with open (m_path, 'w',encoding= 'utf-8') as f_out:
    f_out.write(r.text)

### Transform

In [5]:
df = pd.read_csv(m_path,encoding='utf-8')

In [6]:
df.head()

,Cod_Loc,IdProvincia,IdDepartamento,Observaciones,categoria,subcategoria,provincia,localidad,nombre,direccion,...,Mail,Web,Latitud,Longitud,TipoLatitudLongitud,Info_adicional,fuente,jurisdiccion,año_inauguracion,actualizacion
0,6588100,6,6588,NaN,Espacios de Exhibición Patrimonial,Museos,Buenos Aires,9 de Julio,Archivo Y Museo Histórico Gral. Julio De Vedia,Libertad 1191,...,archivoymuseo@yahoo.com.ar,www.portaldel9.com.ar,-35.441762,-60.887598,Localización precisa,NaN,DNPyM,Municipal,1920.0,2017
1,6077010,6,6077,NaN,Espacios de Exhibición Patrimonial,Museos,Buenos Aires,Arrecifes,Museo Y Archivo Histórico De Arrecifes,Gerardo Risso y España,...,museoarrecifes@hotmail.com,NaN,-34.066970,-60.102555,Localización precisa,NaN,DNPyM,Municipal,1972.0,2017
2,6035010,6,6035,NaN,Espacios de Exhibición Patrimonial,Museos,Buenos Aires,Avellaneda,Museo Histórico-Sacro Hno. Rogelio Scortegagna,Calle 11 (Av. San Martín) Nº 830,...,NaN,NaN,-29.118024,-59.654543,Localización precisa,NaN,DNPyM,Municipal,NaN,2017
3,6035010,6,6035,NaN,Espacios de Exhibición Patrimonial,Museos,Buenos Aires,Avellaneda,Museo Municipal De Artes Plásticas De Avellaneda,"Sarmiento 101, 1 º Piso",...,NaN,NaN,-34.662110,-58.363270,Localización precisa,NaN,DNPyM,Municipal,1956.0,2017
4,6049020,6,6049,NaN,Espacios de Exhibición Patrimonial,Museos,Buenos Aires,Azul,Museo Etnográfico Y Archivo Histórico Enrique ...,Bartolomé J. Ronco 654,...,museoazul@yahoo.com,NaN,-36.781824,-59.858636,Localización precisa,NaN,DNPyM,Privada,1949.0,2017

In [7]:
renamed_cols = {
    'Cod_Loc': 'cod_localidad', 
    'IdProvincia': 'id_provincia',
    'IdDepartamento': 'id_departamento', 
    'direccion': 'domicilio',
    'CP': 'codigo postal',
    'telefono': 'número de teléfono',
    'Mail': 'mail',
    'Web': 'web',
}

In [8]:
df = df.rename(columns = renamed_cols)

colum_list = [
    'cod_localidad',
    'id_provincia',
    'id_departamento',
    'categoria',
    'provincia',
    'localidad',
    'nombre',
    'domicilio',
    'codigo postal',
    'número de teléfono',
    'mail',
    'web',
]   
df_museos= df[colum_list]

In [9]:
df_museos

,cod_localidad,id_provincia,id_departamento,categoria,provincia,localidad,nombre,domicilio,codigo postal,número de teléfono,mail,web
0,6588100,6,6588,Espacios de Exhibición Patrimonial,Buenos Aires,9 de Julio,Archivo Y Museo Histórico Gral. Julio De Vedia,Libertad 1191,B6500EVL,425 279,archivoymuseo@yahoo.com.ar,www.portaldel9.com.ar
1,6077010,6,6077,Espacios de Exhibición Patrimonial,Buenos Aires,Arrecifes,Museo Y Archivo Histórico De Arrecifes,Gerardo Risso y España,B2740FMJ,452 931,museoarrecifes@hotmail.com,NaN
2,6035010,6,6035,Espacios de Exhibición Patrimonial,Buenos Aires,Avellaneda,Museo Histórico-Sacro Hno. Rogelio Scortegagna,Calle 11 (Av. San Martín) Nº 830,S3561AKT,481 200,NaN,NaN
3,6035010,6,6035,Espacios de Exhibición Patrimonial,Buenos Aires,Avellaneda,Museo Municipal De Artes Plásticas De Avellaneda,"Sarmiento 101, 1 º Piso",B1870CBC,4205 9567,NaN,NaN
4,6049020,6,6049,Espacios de Exhibición Patrimonial,Buenos Aires,Azul,Museo Etnográfico Y Archivo Histórico Enrique ...,Bartolomé J. Ronco 654,B7300XAA,434 811,museoazul@yahoo.com,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1177,90098040,90,90098,Espacios de Exhibición Patrimonial,Tucumán,Tafí del Valle,Museo Histórico Y Arqueológico Jesuítico La Banda,La Banda S/N,4000,421 685,NaN,NaN
1178,90105080,90,90105,Espacios de Exhibición Patrimonial,Tucumán,Tafí Viejo,Mac-Museo Arqueológico El Cadillal,Centro Principal el Cadillal,NaN,NaN,NaN,NaN
1179,90105080,90,90105,Espacios de Exhibición Patrimonial,Tucumán,Tafí Viejo,Museo Ferroviario De Los Talleres De Tafí Viejo,Avda. Pte. Roque Sáenz Peña 234,4103,461 4335,NaN,NaN
1180,90105070,90,90105,Espacios de Exhibición Patrimonial,Tucumán,Villa El Cadillal,Museo Arqueológico Dr. Ernesto Padilla,Ernesto Padilla S/N,4101,422 2199,NaN,NaN
1181,90098040,90,90098,Espacios de Exhibición Patrimonial,Tucumán,Tafí del Valle,Asentamientos De Menhires En Las Áreas Arqueol...,NaN,NaN,NaN,NaN,www.enteculturaltucuman.gov.ar

## Cines

### Extract

In [10]:
category_dict = categories[1]
r = requests.get(category_dict['url'])
r.encoding='utf-8'

now = datetime.now()

file_path = file_path_crib.format(category=category_dict['name'], year=now. year, month=now.month, day=now.day)

m_path = BASE_FILE_DIR/file_path
m_path.parent.mkdir (parents=True, exist_ok=True)

## Save file
with open (m_path, 'w',encoding= 'utf-8') as f_out:
    f_out.write(r.text)

## Transform

In [11]:
df = pd.read_csv(m_path,encoding='utf-8')
df.head(5)

,cod_localidad,id_provincia,id_departamento,categoria,provincia,departamento,localidad,nombre,direccion,piso,...,latitud,longitud,tipo_latitud_longitud,fuente,sector,pantallas,butacas,tipo_de_gestion,espacio_incaa,año_actualizacion
0,6854100,6,6854,Salas de cine,Buenos Aires,25 de mayo,25 de mayo,Cine Teatro Español,Calle 9 entre 29 Y 30,NaN,...,-35.430488,-60.170686,Precisa,INCAA / SInCA,Cine,1,500,Pública,No,2022
1,6826040,6,6826,Salas de cine,Buenos Aires,Trenque Lauquen,30 de agosto,Cine Santa Rosa De Lima,Santa Rosa De Lima 170,NaN,...,-36.278508,-62.544355,Precisa,INCAA / SInCA,Cine,1,410,Pública,No,2022
2,6588100,6,6588,Salas de cine,Buenos Aires,9 de julio,9 de julio,Tu Cine 9 de Julio,Robbio 840,NaN,...,-35.446265,-60.885789,Precisa,INCAA / SInCA,Cine,1,165,Privada,No,2022
3,6028010,6,6028,Salas de cine,Buenos Aires,Almirante Brown,Adrogué,Cinema Adrogue,Hipolito Yrigoyen 13200,NaN,...,-34.808110,-58.402400,Precisa,INCAA / SInCA,Cine,10,2505,Privada,No,2022
4,6028010,6,6028,Salas de cine,Buenos Aires,Almirante Brown,Adrogué,CPM Paseo Adrogue,Segui 699,NaN,...,-34.800097,-58.396753,Precisa,INCAA / SInCA,Cine,4,710,Privada,No,2022

In [12]:
df.groupby('provincia', as_index=False).count()[['provincia', 'pantallas', 'butacas', 'espacio_incaa']]

                          provincia  pantallas  butacas  espacio_incaa
0                      Buenos Aires        101      101            101
1                         Catamarca          2        2              2
2                             Chaco          3        3              3
3                            Chubut          8        8              8
4   Ciudad Autónoma de Buenos Aires         37       37             37
5                        Corrientes          7        7              7
6                           Córdoba         36       36             36
7                        Entre Ríos         11       11             11
8                           Formosa          1        1              1
9                             Jujuy          4        4              4
10                         La Pampa          5        5              5
11                         La Rioja          6        6              6
12                          Mendoza         17       17             17
13                         Misiones          4        4              4
14                          Neuquén          7        7              7
15                        Río Negro          6        6              6
16                            Salta          7        7              7
17                         San Juan          4        4              4
18                         San Luis          3        3              3
19                       Santa Cruz          8        8              8
20                         Santa Fe         21       21             21
21              Santiago del Estero          4        4              4
22                 Tierra del Fuego          3        3              3
23                          Tucumán         11       11             11

In [13]:
df.dtypes

cod_localidad              int64
id_provincia               int64
id_departamento            int64
categoria                 object
provincia                 object
departamento              object
localidad                 object
nombre                    object
direccion                 object
piso                      object
cp                         int64
web                       object
latitud                  float64
longitud                 float64
tipo_latitud_longitud     object
fuente                    object
sector                    object
pantallas                  int64
butacas                    int64
tipo_de_gestion           object
espacio_incaa             object
año_actualizacion          int64
dtype: object

In [14]:
renamed_cols = {
    'Cod_Loc': 'cod_localidad',
    'IdProvincia':
    'id_provincia',
    'IdDepartamento': 'id_departamento',
    'Provincia': 'provincia',
    'Categoría': 'categoria',
    'Dirección': 'domicilio', 
    'CP': 'codigo postal',
    'Localidad': 'localidad',
    'Nombre': 'nombre',
    'Domicilio': 'domicilio',
    'Teléfono': 'número de teléfono',
    'Mail': 'mail',
    'Web': 'web',
    }

df= df.rename(columns = renamed_cols)

In [15]:
colum_list = [
    'cod_localidad',
    'id_provincia',
    'id_departamento',
    'categoria',
    'provincia',
    'localidad',
    'nombre',
    'web',
]   
df_cines= df[colum_list]

In [16]:
df_cines

,cod_localidad,id_provincia,id_departamento,categoria,provincia,localidad,nombre,web
0,6854100,6,6854,Salas de cine,Buenos Aires,25 de mayo,Cine Teatro Español,https://www.instagram.com/teatro_espanol/
1,6826040,6,6826,Salas de cine,Buenos Aires,30 de agosto,Cine Santa Rosa De Lima,https://www.trenquelauquen.gov.ar
2,6588100,6,6588,Salas de cine,Buenos Aires,9 de julio,Tu Cine 9 de Julio,http://9dejulio.tucine.com.ar/
3,6028010,6,6028,Salas de cine,Buenos Aires,Adrogué,Cinema Adrogue,https://www.cinemaadrogue.com/
4,6028010,6,6028,Salas de cine,Buenos Aires,Adrogué,CPM Paseo Adrogue,https://cpmcines.com/
...,...,...,...,...,...,...,...,...
311,90084010,90,90084,Salas de cine,Tucumán,San Miguel de Tucumán,Cinemacenter Tucuman,http://www.cinemacenter.com.ar/
312,90084010,90,90084,Salas de cine,Tucumán,San Miguel de Tucumán,Espacio Incaa Sala Orestes Caviglia,https://enteculturaltucuman.gob.ar/
313,90084010,90,90084,Salas de cine,Tucumán,San Miguel de Tucumán,Microcine Orion,NaN
314,90119030,90,90119,Salas de cine,Tucumán,Yerba Buena,Solar del Cerro,http://solardelcerro.com
315,90119030,90,90119,Salas de cine,Tucumán,Yerba Buena,Sunstar Tucuman,http://www.cinesunstar.com/

## Bibliotecas

In [17]:
category_dict = categories[2]
r = requests.get(category_dict['url'])
r.encoding='utf-8'

now = datetime.now()

file_path = file_path_crib.format(category=category_dict['name'], year=now. year, month=now.month, day=now.day)

m_path = BASE_FILE_DIR/file_path
m_path.parent.mkdir (parents=True, exist_ok=True)

## Save file
print(categories[2]['name'])
with open (m_path, 'w',encoding= 'utf-8') as f_out:
    f_out.write(r.text)

bibliotecas_populares

In [18]:
df = pd.read_csv(m_path,encoding='utf-8')
df.head(5)

,cod_localidad,id_provincia,id_departamento,observacion,categoria,subcategoria,provincia,departamento,localidad,nombre,...,mail,web,informacion_adicional,latitud,longitud,tipo_latitud_longitud,fuente,fecha_fundacion,nro_conabip,anio_actualizacion
0,6854100,6,6854,NaN,Biblioteca Popular,NaN,Buenos Aires,25 De Mayo,25 de Mayo,Comité Cultural y Biblioteca Juan Francisco Ib...,...,NaN,NaN,NaN,-35.432917,-60.171417,Exacta,CONABIP,1922-10-02,938,2023
1,6588100,6,6588,NaN,Biblioteca Popular,NaN,Buenos Aires,9 De Julio,9 de Julio,Bib.Pop. Anastasio Prieto,...,NaN,NaN,NaN,-35.433333,-60.866667,Exacta,CONABIP,1980-01-01,200,2023
2,6588100,6,6588,NaN,Biblioteca Popular,NaN,Buenos Aires,9 De Julio,9 de Julio,Bib.Pop. José Ingenieros,...,NaN,NaN,NaN,-35.445957,-60.883377,Exacta,CONABIP,1933-10-12,1850,2023
3,6007010,6,6007,NaN,Biblioteca Popular,NaN,Buenos Aires,Adolfo Alsina,Carhue,Bib.Pop. Adolfo Alsina,...,NaN,NaN,NaN,-37.180933,-62.760050,Exacta,CONABIP,1912-08-23,88,2023
4,6007080,6,6007,NaN,Biblioteca Popular,NaN,Buenos Aires,Adolfo Alsina,Rivera,Bib.Pop. José Ingenieros,...,ccibiblio@hotmail.com,NaN,NaN,-37.162600,-63.247050,Exacta,CONABIP,1925-01-01,1278,2023

In [19]:
renamed_cols = {
        'Cod_Loc': 'cod_localidad', 
        'IdProvincia': 'id_provincia',
        'IdDepartamento': 'id_departamento', 
        'Dirección': 'domicilio',
        'CP': 'codigo postal',
        'Localidad':'localidad',
        'Nombre':'nombre',
        'Domicilio': "domicilio",
        'Teléfono': 'número de teléfono',
        'Mail': 'mail',
        'Web': 'web',
    }

df = df.rename(columns = renamed_cols)

colum_list = [
    'cod_localidad',
    'id_provincia',
    'id_departamento',
    'categoria',
    'provincia',
    'localidad',
    'nombre',
    'web',
]   
df_bibliotecas= df[colum_list]

In [20]:
df_bibliotecas

,cod_localidad,id_provincia,id_departamento,categoria,provincia,localidad,nombre,web
0,6854100,6,6854,Biblioteca Popular,Buenos Aires,25 de Mayo,Comité Cultural y Biblioteca Juan Francisco Ib...,NaN
1,6588100,6,6588,Biblioteca Popular,Buenos Aires,9 de Julio,Bib.Pop. Anastasio Prieto,NaN
2,6588100,6,6588,Biblioteca Popular,Buenos Aires,9 de Julio,Bib.Pop. José Ingenieros,NaN
3,6007010,6,6007,Biblioteca Popular,Buenos Aires,Carhue,Bib.Pop. Adolfo Alsina,NaN
4,6007080,6,6007,Biblioteca Popular,Buenos Aires,Rivera,Bib.Pop. José Ingenieros,NaN
...,...,...,...,...,...,...,...,...
1897,90105080,90,90105,Biblioteca Popular,Tucumán,Tafi Viejo,Bib.Pop. Ing. A. Pasquini,NaN
1898,90105080,90,90105,Biblioteca Popular,Tucumán,Tafi Viejo,Bib.Pop. Juan Bautista Alberdi,NaN
1899,90105080,90,90105,Biblioteca Popular,Tucumán,Tafi Viejo,Bib.Pop. Hipólito Yrigoyen,NaN
1900,90105100,90,90105,Biblioteca Popular,Tucumán,Villa M.Moreno-Las Talitas,Bib.Pop. Manuel Lizondo Borda,NaN
1901,90119030,90,90119,Biblioteca Popular,Tucumán,Yerba Buena,Bib.Pop. La Randa,NaN

In [21]:
df_bibliotecas['id_departamento'].isna().unique()

array([False])

### Now, Let's generate a dict with all the dfs in order to analyze all the data together

In [22]:
dfs = {'museos': df_museos, 'cines': df_cines, 'bibliotecas': df_bibliotecas}

In [23]:
dfss = pd.concat(dfs, axis=0)

In [24]:
dfss.dtypes

cod_localidad          int64
id_provincia           int64
id_departamento        int64
categoria             object
provincia             object
localidad             object
nombre                object
domicilio             object
codigo postal         object
número de teléfono    object
mail                  object
web                   object
dtype: object

In [25]:
# Count by category
dfss.groupby('categoria', as_index=False).size()

                            categoria  size
0                  Biblioteca Popular  1902
1  Espacios de Exhibición Patrimonial  1182
2                       Salas de cine   316

In [26]:
# Count by category and province
dfss.groupby(['categoria', 'provincia'], as_index=False).size()

             categoria                        provincia  size
0   Biblioteca Popular                     Buenos Aires   497
1   Biblioteca Popular                        Catamarca    37
2   Biblioteca Popular                            Chaco    69
3   Biblioteca Popular                           Chubut    47
4   Biblioteca Popular  Ciudad Autónoma de Buenos Aires    43
..                 ...                              ...   ...
67       Salas de cine                       Santa Cruz     8
68       Salas de cine                         Santa Fe    21
69       Salas de cine              Santiago del Estero     4
70       Salas de cine                 Tierra del Fuego     3
71       Salas de cine                          Tucumán    11

[72 rows x 3 columns]

In [27]:
# Count by source list

lst= list()

for name, df in dfs.items():
    lst.append({'source': name, 'count': df.size,})

pd.DataFrame(lst)

        source  count
0       museos  14184
1        cines   2528
2  bibliotecas  15216